<a href="https://colab.research.google.com/github/izunyan/practice_py/blob/master/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello, world!")

Hello, world!

In [ ]:
# 作業ディレクトリの確認
import os
os.getcwd()

'/content'

In [3]:
import pandas as pd

# 現在の作業ディレクトリ下にsample_dataフォルダがあるためそこから読みこみ
df = pd.read_csv('sample_data/california_housing_test.csv')
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

In [ ]:
# 行列数
df.shape

(3000, 9)

In [ ]:
# 変数名一覧
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB

In [ ]:
# summary()
df.describe()

         longitude    latitude  ...  median_income  median_house_value
count  3000.000000  3000.00000  ...    3000.000000          3000.00000
mean   -119.589200    35.63539  ...       3.807272        205846.27500
std       1.994936     2.12967  ...       1.854512        113119.68747
min    -124.180000    32.56000  ...       0.499900         22500.00000
25%    -121.810000    33.93000  ...       2.544000        121200.00000
50%    -118.485000    34.27000  ...       3.487150        177650.00000
75%    -118.020000    37.69000  ...       4.656475        263975.00000
max    -114.490000    41.92000  ...      15.000100        500001.00000

[8 rows x 9 columns]

# Google Driveからのデータ読み込み

## Rとの違い

* 以下#に表示の関数名はRのもの

https://pandas.pydata.org/docs/getting_started/comparison/comparison_with_r.html

In [ ]:
# 列の選択：select()
df[['total_rooms',	'total_bedrooms']].head()

   total_rooms  total_bedrooms
0       3885.0           661.0
1       1510.0           310.0
2       3589.0           507.0
3         67.0            15.0
4       1241.0           244.0

In [ ]:
df.loc[:, 'total_rooms':'population'].head()

   total_rooms  total_bedrooms  population
0       3885.0           661.0      1537.0
1       1510.0           310.0       809.0
2       3589.0           507.0      1484.0
3         67.0            15.0        49.0
4       1241.0           244.0       850.0

In [ ]:
# 行の選択: filter()
df[df['total_rooms'] <= 20]

      longitude  latitude  ...  median_income  median_house_value
641     -121.04     37.67  ...          0.536            162500.0
740     -117.12     32.66  ...          1.125             60000.0
1115    -116.95     33.86  ...          1.625             55000.0
2640    -114.62     33.62  ...          0.536            275000.0

[4 rows x 9 columns]

In [ ]:
df[df['total_rooms'] <= 50].head(8)

      longitude  latitude  ...  median_income  median_house_value
641     -121.04     37.67  ...         0.5360            162500.0
666     -121.89     37.42  ...         7.7197            225000.0
733     -117.99     33.81  ...         4.1667            162500.0
740     -117.12     32.66  ...         1.1250             60000.0
826     -118.25     34.06  ...         1.5491            225000.0
1115    -116.95     33.86  ...         1.6250             55000.0
1345    -121.29     37.33  ...         4.0000             75000.0
1355    -117.11     32.66  ...         1.6250            118800.0

[8 rows x 9 columns]

In [ ]:
df.query('total_rooms <= 50 & total_rooms >= 40')

      longitude  latitude  ...  median_income  median_house_value
666     -121.89     37.42  ...         7.7197            225000.0
826     -118.25     34.06  ...         1.5491            225000.0
1345    -121.29     37.33  ...         4.0000             75000.0
1356    -121.90     37.39  ...         1.7361            500001.0
2502    -118.23     33.76  ...         5.0000             87500.0
2636    -120.92     37.63  ...         1.7679            450000.0
2768    -122.49     38.00  ...         7.7197            400000.0

[7 rows x 9 columns]

In [6]:
# mutate
df = df.assign(longitude2 = df['longitude'])
df

In [7]:
# rename
df.rename(columns={'longitude2': 'longitude3'})

      longitude  latitude  ...  median_house_value  longitude3
0       -122.05     37.37  ...            344700.0     -122.05
1       -118.30     34.26  ...            176500.0     -118.30
2       -117.81     33.78  ...            270500.0     -117.81
3       -118.36     33.82  ...            330000.0     -118.36
4       -119.67     36.33  ...             81700.0     -119.67
...         ...       ...  ...                 ...         ...
2995    -119.86     34.42  ...            225000.0     -119.86
2996    -118.14     34.06  ...            237200.0     -118.14
2997    -119.70     36.30  ...             62000.0     -119.70
2998    -117.12     34.10  ...            162500.0     -117.12
2999    -119.63     34.42  ...            500001.0     -119.63

[3000 rows x 10 columns]